<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
</head>


<body>
  <button id="upload_widget" class="cloudinary-button">Upload files</button>
  <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

  <script>
    document.getElementById("upload_widget").addEventListener("click", function () {

      fetch('/api/envVars', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        })
        .then((response) => response.json())
        .then((data) => {
          console.log('successful GET', data);

          cloudinary.openUploadWidget({
            cloudName: data.cloudName,
            uploadPreset: data.uploadPreset,
            sources: [
              "local"
            ],
            googleApiKey: "<image_search_google_api_key>",
            showAdvancedOptions: true,
            cropping: true,
            multiple: false,
            defaultSource: "local",
            styles: {
              palette: {
                window: "#5D005D",
                sourceBg: "#3A0A3A",
                windowBorder: "#AD5BA3",
                tabIcon: "#ffffcc",
                inactiveTabIcon: "#FFD1D1",
                menuIcons: "#FFD1D1",
                link: "#ffcc33",
                action: "#ffcc33",
                inProgress: "#00e6b3",
                complete: "#a6ff6f",
                error: "#ff1765",
                textDark: "#3c0d68",
                textLight: "#fcfffd"
              },
              fonts: {
                default: null,
                "'Kalam', cursive": {
                  url: "https://fonts.googleapis.com/css?family=Kalam",
                  active: true
                }
              }
            }
          }, (error, result) => {});
        })
        .catch((err) => console.error(err))
    });
  </script>

</body>

</html>